<div class="w-full flex flex-wrap h-auto md:pt-12 lg:pt-12 pt-4 pb-16">
    <div class="flex flex-col md:w-1/2 lg:w-1/2">
      <div class="flex justify-content-start px-10 py-6 mt-4 animate__animated animate__fadeInUp">
        <img src="assets/images/cbt_logo_only.svg" alt="" class="w-8">
        <p class="font-semibold text-gray-700 ml-2 mt-1 tracking-wider">CBT-Exam</p>
      </div>
      <div class="flex flex-col px-10">
        <h1 class="font-bold font-sf text-5xl animate__animated animate__fadeInUp">
            Ujian Sekolah Berbasis Komputer
        </h1>
        <p class="text-lg text-gray-600 mt-4 animate__animated animate__fadeInUp">
            Dengan CBT-Exam memudahkan ujian diperangkat manapun
            serta memudahkan manajemen nilai siswa
        </p>
        <div class="flex items-end animate__animated animate__fadeInUp">
          <a class="btn btn-blue mt-12 rounded mr-3 disabled cursor-not-allowed shadow-lg"
            href="#">
            Beli Sekarang
          </a>
          <a class="btn bg-gray-200 text-blue-500 hover:bg-gray-400 rounded"
            href="http://cbtexam.herokuapp.com">
            <i class="fas fa-play"></i>
            Live Preview
          </a>
        </div>
      </div>
    </div>
    <div class="flex justify-center md:w-1/2 lg:w-1/2">
      <img src="assets/images/presentation.svg" class="w-3/4 mt-6 lg:mt-0 md:mt-0 animate__animated animate__fadeInUp" alt="">
    </div>
  </div>
  <div class="w-full h-auto flex flex-wrap py-10 bg-gray-100 justify-center">
    <div class="flex flex-col w-full items-center mb-8">
      <div class="inline-flex justify-center">
        <img src="assets/images/cbt_logo_only.svg" alt="" class="w-8">
        <h2 class="text-title font-bold tracking-wider mx-2 my-auto">CBT-Exam</h2>
      </div>
      <p class="text-subtitle text-gray-800">Tim dibalik pengembangan CBT-Exam</p>
    </div>
    <div class="card-profile">
      <div class="flex py-4 px-4">
        <img src="assets/images/contributors/1.jpg" alt="" loading="lazy" class="rounded-full w-12 h-12 float-left">
        <div class="flex flex-col m-auto mx-3">
          <p class="font-semibold">Mohammad Arfan</p>
          <p class="text-sm text-gray-700">Programmer & UI Designer</p>
        </div>
      </div>
    </div>
    <div class="card-profile">
      <div class="flex py-4 px-4">
        <img src="assets/images/contributors/novitalia.svg" alt="" loading="lazy" class="rounded-full w-12 h-12 float-left">
        <div class="flex flex-col m-auto mx-3">
          <p class="font-semibold">Novitalia</p>
          <p class="text-sm text-gray-700">Programmer</p>
        </div>
      </div>
    </div>
    <div class="card-profile">
      <div class="flex py-4 px-4">
        <img src="assets/images/contributors/dicky.svg" alt="" loading="lazy" class="rounded-full w-12 h-12 float-left">
        <div class="flex flex-col m-auto mx-3">
          <p class="font-semibold">Dicky Syahbani</p>
          <p class="text-sm text-gray-700">DevOps Engineer</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-flex-row pt-16">
    <div class="flex flex-col md:w-1/2 lg:w-1/2 md:px-20 lg:px-20 px-12">
      <p class="tracking-widest text-blue-500 uppercase">multi perangkat</p>
      <h2 class="font-bold font-sf text-4xl">Dapat dioperasikan pada 
        perangkat apapun</h2>
      <p class="text-gray-600 mt-4">
        CBT-Exam dapat dioperasikan pada smartphone, laptop
        maupun komputer
      </p>
    </div>
    <div class="flex md:w-1/2 lg:w-1/2 justify-center items-center">
      <img src="assets/images/cbtexam_mock.png" alt="" class="w-4/5 mt-4 md:mt-0 lg:mt-0">
    </div>
  </div>
  <div class="container-flex-row py-16 bg-gray-100">
    <div class="flex md:w-1/2 lg:w-1/2 justify-center items-center">
      <img src="assets/images/cbtexam_mock_pc.png" alt="" class="w-4/5">
    </div>
    <div class="flex flex-col md:w-1/2 lg:w-1/2 md:px-20 lg:px-20 px-12 mt-4 md:mt-0 lg:mt-0">
      <p class="tracking-widest text-blue-500 uppercase">aplikasi client</p>
      <h2 class="font-bold font-sf text-4xl">Berbasis Windows</h2>
      <p class="text-gray-600 mt-4">
        CBT-Exam juga menyediakan aplikasi client berbasis 
        windows dengan pengalaman ujian yang lebih 
        aman dan optimal
      </p>
      <a href="#" class="self-start flex bg-white shadow rounded px-2 py-2 mt-10 border border-gray-100 disabled cursor-not-allowed">
          <img src="assets/images/microsoft.svg" alt="" class="float-left">
          <div class="ml-2 text-left">
            <p class="text-xs">Get it from</p>
            <p class="text-base font-semibold">Microsoft</p>
          </div>
      </a>
      <a href="#" class="mt-5 text-blue-500 text-sm transition duration-300 hover:text-blue-800 transform hover:translate-y-1 hover:scale-100">
          Download versi lain <i class="fas fa-arrow-right ml-1"></i>
        </a>
    </div>
  </div>