<div class="flex flex-wrap w-full px-8 profile bg-gray-100" #myprofile>
  <div class="md:w-1/2 lg:w-1/2 flex flex-col px-4 py-6">
    <p>Halo, Nama Saya</p>
    <p class="text-4xl font-bold tracking-wider mb-1">Muhammad Arfan</p>
    <hr class="border-b-4 border-blue-500 w-20 rounded-sm">
    <p class="text-gray-800 text-base mt-4">
      Bercita-cita ingin menjadi seorang developer professional.
      Menargetkan menguasai cross-platform development,
      dan sangat gemar mempelajari hal baru seputar teknologi
    </p>
    <div class="mt-32">
      <a href="https://drive.google.com/file/d/1TGTwbo0ok5A5qtzkNyDpK8orOu0m7aKl/view?usp=sharing" target="_blank"
        class="px-3 py-2 mr-6 bg-blue-500 hover:bg-blue-600 text-white rounded-lg shadow-lg">
        <i class="far fa-file-alt"></i><span class="ml-2">View My CV</span>
      </a>
    </div>
    <div class="mt-4 py-4">
      <p class="font-semibold text-gray-800">Find Me on :</p>
      <div class="flex flex-wrap text-gray-800 py-2">
        <a href="https://github.com/Arpha01" target="_blank" class="hover:text-black pr-2">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://facebook.com/Arpha01" target="_blank" class="hover:text-black px-2">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://t.me/Arpha01" target="_blank" class="hover:text-black px-2">
          <i class="fab fa-telegram"></i>
        </a>
        <a href="https://www.linkedin.com/in/muchammad-a-266460118/" class="hover:text-black pl-2">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="flex md:w-1/2 lg:w-1/2 items-end float-right">
    <img src="assets/images/back.png" alt="" class="w-full" loading="lazy">
  </div>
</div>
<div class="flex flex-col w-full h-auto items-center px-12 md:px-24 lg:px-28 bg-white" id="profile">
  <h2 class="text-3xl mt-10 font-semibold text-gray-800 mb-1">About Me</h2>
  <hr class="my-2 border-2 border-blue-500 w-32">
  <img src="assets/images/lowres.jpg" alt="" class="mt-8 rounded-full h-24 w-24 object-cover">
  <div class="text-center">
    <p class="py-3 md:px-24 lg:px-24 text-gray-800">
      Halo, Nama Saya Muhammad Arfan, Seorang Tech Enthusiast, Freelance Full Stack Web Developer, Desktop App
      Programmer dan mahasiswa di Universitas Pamulang jurusan Teknik Informatika.
    </p>
    <div class="w-full flex flex-wrap my-4 md:mx-2 lg:mx-4">
      <div class="w-full md:w-1/2 lg:w-1/2 justify-center">
        <div class="skill-card mt-4 w-full rounded shadow-md bg-white border border-gray-100 text-left">
          <h2 class="font-semibold px-6 py-4 text-xl mb-1 text-blue-500">Detail Personal</h2>
          <hr class="border border-gray-200">
          <div class="flex flex-col px-6 py-4 mb-8">
            <div class="inline my-2">
              <i class="fas fa-map-marker-alt text-gray-700 mr-2"></i><span class="font-semibold">Alamat Tempat tinggal</span>
              <p class="text-sm">JL.IR.H.Juanda(komplek percetakan ALS) Kel. Cipayung Kec. Ciputat, Kota Tangerang Selatan</p>
            </div>
            <div class="inline my-2">
              <i class="far fa-calendar text-gray-700 mr-2"></i><span class="font-semibold">Tempat Tanggal lahir</span>
              <p class="text-sm">Cirebon, 27 Juni 1999</p>
            </div>
            <div class="inline my-2">
              <i class="fas fa-mosque text-gray-700 mr-2"></i><span class="font-semibold">Agama</span>
              <p class="text-sm">ISLAM</p>
            </div>
            <div class="inline my-2">
              <i class="far fa-envelope text-gray-700 mr-2"></i><span class="font-semibold">Email</span>
              <p class="text-sm">muchammadarfan76@gmail.com</p>
            </div>
            <div class="inline my-2">
              <i class="fas fa-code text-gray-700 mr-2"></i><span class="font-semibold">Hobbies</span>
              <br>
              <div class="mt-2"></div>
              <div class="flex flex-wrap">
                <span class="px-2 py-1 mt-1 rounded bg-gray-200">Coding</span>
                <span class="px-2 py-1 ml-1 mt-1 rounded bg-gray-200">Browsing</span>
                <span class="px-2 py-1 ml-1 mt-1 rounded bg-gray-200">Reading Tech Articles</span>
                <span class="px-2 py-1 ml-1 mt-1 rounded bg-gray-200">Blogging</span>
              </div>
            </div>
            <div class="inline my-2">
              <i class="fas fa-phone-alt mr-2"></i><span class="font-semibold">Nomor HP</span>
              <p class="text-sm">+6282321158479</p>
            </div>
            <div class="inline my-2">
                <i class="fas fa-user mr-2"></i><span class="font-semibold">Interpersonal Skills</span>
                <ul class="px-4 list-disc">
                    <li class="py-1">Love writing beautiful 💖, well-optimized code, and always up-to-date about best practice</li>
                    <li class="py-1">Sangat menyukai berbagai hal tentang Teknologi, Sains, dan Astronomi 🚀</li>
                    <li class="py-1">Saya dapat dengan cepat beradaptasi dengan berbagai macam tool, dan lingkungan pengembangan</li>
                    <li class="py-1">Saya dapat mengoperasikan berbagai sistem operasi berbasis Windows, Linux, maupun MacOS (Karena saya menggunakan ketiganya)</li>
                    <li class="py-1">Mampu memahami konsep dan ide baru dengan cepat dan efisien.</li>
                </ul>
            </div>
            <div class="inline my-2">
              <i class="fas fa-desktop mr-2"></i><span class="font-semibold">Aktivitas & Lainnya</span>
              <div class="flex flex-wrap mt-6">
                  <img src="assets/images/winten.jpg" alt="" class="w-12 h-12 rounded-full">
                  <div class="self-center">
                      <p class="ml-2">Admin di <a href="https://www.facebook.com/groups/Windows10CommunityID/" target="_blank" class="text-blue-500">Windows 10 Community</a></p>
                      <p class="text-sm ml-2">Komunitas Windows Terbesar</p>
                  </div>
              </div>
              <div class="flex flex-wrap mt-6">
                  <img src="assets/images/wintendev.svg" alt="" class="w-12 h-12">
                  <div>
                      <p class="ml-2">Core Team <a href="https://github.com/WinTenDev" target="_blank" class="text-blue-500">WinTenDev</a></p>
                      <p class="text-sm ml-2">Sebuah komunitas opensource</p>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/2">
        <div class="skill-card mt-4 w-full md:w-4/5 lg:w-4/5 rounded shadow-md bg-white border border-gray-100 text-left ml-auto">
          <h2 class="font-semibold px-6 py-4 text-xl text-blue-500">Skills</h2>
          <p class="px-6 py-4 font-semibold">Experienced with</p>
          <hr class="border border-gray-200">
          <div class="flex flex-col px-6 py-4 mb-4">
            <div class="flex my-2">
              <img src="assets/images/skills/laravel.png" alt="" class="w-8 h-8">
              <p class="ml-4 mt-1">Laravel</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/git.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">Git Tools</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/jquery.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">Jquery</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/php.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">PHP</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/javascript.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">Javascript</p>
            </div>
          </div>
          <p class="px-6 py-2 font-semibold">Familiar with</p>
          <hr class="border border-gray-200">
          <div class="flex flex-col px-6 py-4 mb-4">
            <div class="flex my-2">
                <img src="assets/images/skills/office.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">Microsoft Office</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/csharp.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">CSharp</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/livewire.png" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">Laravel Livewire</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/vbnet.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">Visual Basic .NET</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/mysql.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">MySQL</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/xd.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">Adobe XD</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/bootstrap.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">Bootstrap</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/tailwind.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">TailwindCSS</p>
            </div>
          </div>
          <p class="px-6 py-2 font-semibold">New</p>
          <hr class="border border-gray-200">
          <div class="flex flex-col px-6 py-4 mb-4">
            <div class="flex my-2">
                <img src="assets/images/skills/nestjs.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">NestJS</p>
            </div>
            <div class="flex my-2">
                <img src="assets/images/skills/angular.svg" alt="" class="w-8 h-8">
                <p class="ml-4 mt-1">Angular</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col w-full h-auto items-center py-8 bg-gray-100" id="education" #myeducation>
  <h2 class="text-3xl mt-10 font-semibold text-gray-800">Education</h2>
  <hr class="my-2 border-2 border-blue-500 w-32">
  <div class="ml-3 mt-10 w-2/3 md:w-1/3 lg:w-1/3 rounded shadow border border-1 bg-white">
    <div class="px-4 py-4">
      <p class="text-xl">SMP Islamiyah Ciputat</p>
      <p class="text-gray-500 text-sm mt-1">
        2011-2014
      </p>
    </div>
  </div>
  <div class="ml-3 mt-10 w-2/3 md:w-1/3 lg:w-1/3 rounded shadow border border-1 bg-white">
    <div class="px-4 py-4">
      <p class="text-xl">SMK Islamiyah Ciputat</p>
      <p class="text-gray-800">Teknik Komputer Dan Jaringan</p>
      <p class="text-gray-500 text-sm mt-1">
        2014-2017
      </p>
    </div>
  </div>
  <div class="ml-3 mt-10 mb-6 w-2/3 md:w-1/3 lg:w-1/3 rounded shadow border border-1 bg-white">
    <div class="px-4 py-4">
      <p class="text-xl">Universitas Pamulang</p>
      <p class="text-gray-800">Teknik Informatika</p>
      <p class="text-gray-500 text-sm mt-1">
        2017-Sekarang
      </p>
    </div>
  </div>
</div>
<div class="flex flex-col w-full h-auto" id="portofolio" #myportofolio>
  <div class="self-center">
    <h2 class="text-3xl mt-10 font-semibold text-gray-800">Portofolio</h2>
    <hr class="my-2 border-2 border-blue-500 w-32">
  </div>
  <div class="w-full flex mt-12 px-6 border-b border-gray-400">
    <a *ngFor="let tab of Tabs"
      class="btn-tabitem bg-transparent px-2 py-3 focus:outline-none mr-2 cursor-pointer hover:bg-gray-200"
      (click)="toggleTab(tab.id)" [ngClass]="{ 'active': Tabs[tab.id - 1].toggle }">
      {{ tab.name }}
    </a>
  </div>
  <div class="flex flex-wrap bg-gray-100 justify-center h-full py-16" (swiperight)="swipe($event, activeIndex)" (swipeleft)="swipe($event, activeIndex)">
    <div class="flex flex-wrap items-center" [ngClass]="{ 'hidden': !Tabs[0].toggle }"
      [@showHide]="Tabs[0].toggle ? 'show' : 'hide'">
      <div
        class="project-content flex flex-col md:m-3 lg:m-3 mx-auto ml-2 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded">
        <div class="flex">
          <img src="assets/images/quran.svg" alt="" width="35" class="float-left">
          <p class="px-2 mt-2">KBM <span class="project">Project</span></p>
        </div>
        <div class="mt-4 text-center">
          <p class="text-gray-600 text-sm">Email: admin@mail.com</p>
          <p class="text-gray-600 mb-4 text-sm">Password: admin123</p>
          <a href="http://kbmproject.herokuapp.com/admin/login" target="_blank"
            class="px-3 py-2 border border-blue-500 text-blue-500 rounded hover:border-blue-800 hover:text-blue-800">Live
            Demo</a>
        </div>
      </div>
      <div
        class="project-content flex flex-col md:m-3 lg:m-3 mx-auto ml-2 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded">
        <div class="flex">
          <img src="assets/images/tutwuri.png" alt="" width="35" class="float-left">
          <p class="px-2 mt-2">PPDB Project</p>
        </div>
        <div class="mt-4 text-center">
          <p class="text-gray-600 text-sm">Email: admin@mail.com</p>
          <p class="text-gray-600 mb-4 text-sm">Password: admin123</p>
          <a href="http://ppdb-smk.herokuapp.com" target="_blank"
            class="px-3 py-2 border border-blue-500 text-blue-500 rounded hover:border-blue-800 hover:text-blue-800 mb-10">Live
            Demo</a>
        </div>
      </div>
    </div>
    <!-- Desktop app -->
    <div class="flex flex-wrap py-10 items-center" [ngClass]="{ 'hidden': !Tabs[1].toggle }"
      [@showHide]="Tabs[1].toggle ? 'show' : 'hide'">
      <div class="project-content flex flex-col md:m-3 lg:m-3 mx-auto my-2 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border 
            border-gray-100 rounded">
        <div class="flex">
          <img src="assets/images/winnetmeterlogo.svg" alt="" width="35" class="float-left">
          <p class="px-2 mt-2">WinNetMeter</p>
        </div>
        <div class="mt-4 text-center">
          <p class="text-gray-600 mb-8 text-sm">Windows 7/8.1/10 x86 Dan x64</p>
          <a href="https://github.com/WinTenDev/WinNetMeter/releases" target="_blank" class="px-3 py-2 border border-blue-500 text-blue-500 rounded 
                    hover:border-blue-800 hover:text-blue-800">
            Download
          </a>
        </div>
      </div>
      <div
        class="project-content flex flex-col md:m-3 lg:m-3 mx-auto my-2 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded">
        <div class="flex">
          <img src="assets/images/QR.svg" alt="" width="35" class="float-left">
          <p class="px-2 mt-2">QRCode Generator</p>
        </div>
        <div class="mt-4 text-center">
          <p class="text-gray-600 mb-8 text-sm">Windows 7/8.1/10 x86 Dan x64</p>
          <a href="https://github.com/WinTenDev/QRCode.Generator/releases" target="_blank" class="px-3 py-2 border border-blue-500 text-blue-500 rounded 
                    hover:border-blue-800 hover:text-blue-800 mb-10">Download</a>
        </div>
      </div>
      <div
        class="project-content flex flex-col md:m-3 lg:m-3 mx-auto my-2 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded">
        <div class="flex">
          <img src="assets/images/checksumcheck_logo.svg" alt="" width="35" class="float-left">
          <p class="px-2 mt-2">ChecksumCheck</p>
        </div>
        <div class="mt-4 text-center">
          <p class="text-gray-600 mb-8 text-sm">Windows 7/8.1/10 x86 Dan x64</p>
          <a href="https://github.com/WinTenDev/ChecksumCheck/releases" target="_blank" class="px-3 py-2 border border-blue-500 text-blue-500 rounded 
                    hover:border-blue-800 hover:text-blue-800 mb-10">Download</a>
        </div>
      </div>
      <div
        class="project-content flex flex-col md:m-3 lg:m-3 mx-auto my-2 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded">
        <div class="flex">
          <img src="assets/images/waktushalat_logo.jpg" alt="" width="35" class="float-left">
          <p class="px-2 mt-2">WaktuShalat</p>
        </div>
        <div class="mt-4 text-center">
          <p class="text-gray-600 mb-8 text-sm">Windows 7/8.1/10 x86 Dan x64</p>
          <a href="#" target="_blank" class="px-3 py-2 border border-blue-500 text-blue-500 rounded 
                    hover:border-blue-800 hover:text-blue-800 mb-10 cursor-not-allowed opacity-50">Coming soon</a>
        </div>
      </div>
    </div>
    <div class="py-10" [ngClass]="{ 'hidden': !Tabs[2].toggle }" [@showHide]="Tabs[2].toggle ? 'show' : 'hide'" #designTab>

    </div>
    <div class="flex flex-wrap justify-center py-10" [ngClass]="{ 'hidden': !Tabs[3].toggle }"
      [@showHide]="Tabs[3].toggle ? 'show' : 'hide'">
      <div class="project-content flex flex-col w-64 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded m-3">
        <img src="assets/images/quran.svg" alt="" width="35" class="float-left">
        <p class="px-2 mt-2">KBM <span class="project">Project</span></p>
        <p class="text-xs text-center text-gray-700">Manajemen kegiatan belajar mengajar</p>
        <p class="text-gray-600 my-4 text-center mb-4 text-sm">Status : <span class="text-green-500">Finishing</span></p>
        <div class="flex flex-wrap justify-center">
          <img src="assets/images/skills/laravel.png" class="w-8 h-8 mx-2">
          <img src="assets/images/skills/mysql.svg" class="w-8 h-8 mx-2">
        </div>
      </div>
      <div
        class="project-content flex flex-col w-64 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded m-3">
        <img src="assets/images/tutwuri.png" alt="" width="35" class="float-left">
        <p class="px-2 mt-2">PPDB Project</p>
        <p class="text-xs text-center text-gray-700">Aplikasi pendaftaran murid baru di sekolah</p>
        <p class="text-gray-600 my-4 text-center mb-4 text-sm">Status : <span class="text-green-500">Alpha Released</span></p>
        <div class="flex flex-wrap justify-center">
          <img src="assets/images/skills/laravel.png" class="w-8 h-8 mx-2">
          <img src="assets/images/skills/livewire.png" class="w-8 h-8 mx-2">
          <img src="assets/images/skills/mysql.svg" class="w-8 h-8 mx-2">
        </div>
      </div>
      <div class="project-content flex flex-col w-64 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded m-3">
        <img src="assets/images/winnetmeterlogo.svg" alt="" width="35" class="float-left">
        <p class="px-2 mt-2">WinNetMeter</p>
        <p class="text-xs text-center text-gray-700">Monitor kecepatan bandwidth internet</p>
        <p class="text-gray-600 my-4 text-center mb-4 text-sm">Status : <span class="text-green-500">Alpha Released</span></p>
        <div class="flex flex-wrap justify-center">
          <img src="assets/images/skills/csharp.svg" class="w-8 h-8 mx-2">
          <img src="assets/images/skills/sqlite.svg" class="w-8 h-8 mx-2">
        </div>
      </div>
      <div class="project-content flex flex-col w-64 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded m-3">
        <img src="assets/images/applogo/recipe.svg" alt="" width="35" class="float-left">
        <p class="px-2 mt-2">Recipe Masakan</p>
        <p class="text-xs text-center text-gray-700">Sebuah website kumpulan resep makanan</p>
        <p class="text-gray-600 my-4 text-center mb-4 text-sm">Status : <span class="text-yellow-500">Ongoing</span></p>
        <div class="flex flex-wrap justify-center">
          <img src="assets/images/skills/nestjs.svg" class="w-8 h-8 mx-2">
          <img src="assets/images/skills/angular.svg" class="w-8 h-8 mx-2">
          <img src="assets/images/skills/mysql.svg" class="w-8 h-8 mx-2">
        </div>
      </div>
      <div class="project-content flex flex-col w-64 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded m-3">
        <img src="assets/images/waktushalat_logo.jpg" alt="" width="35" class="float-left">
        <p class="px-2 mt-2">WaktuShalat</p>
        <p class="text-xs text-center text-gray-700">Aplikasi sebagai sarana pengingat ibadah</p>
        <p class="text-gray-600 my-4 text-center mb-4 text-sm">Status : <span class="text-yellow-500">Ongoing</span></p>
        <div class="flex flex-wrap justify-center">
          <img src="assets/images/skills/csharp.svg" class="w-8 h-8 mx-2">
          <img src="assets/images/skills/sqlite.svg" class="w-8 h-8 mx-2">
        </div>
      </div>
      <div class="project-content flex flex-col w-64 bg-white items-center px-8 py-8 h-auto shadow-lg hover:shadow-xl border border-gray-100 rounded m-3">
        <img src="assets/images/applogo/ulearn.svg" alt="" width="35" class="float-left">
        <p class="px-2 mt-2">ULearn</p>
        <p class="text-xs text-center text-gray-700">Sebuah platform belajar tingkat lanjut</p>
        <p class="text-gray-600 my-4 text-center mb-4 text-sm">Status : <span class="text-yellow-500">Planned</span></p>
        <div class="flex flex-wrap justify-center">
          <img src="assets/images/skills/laravel.png" class="w-8 h-8 mx-2">
          <img src="assets/images/skills/angular.svg" class="w-8 h-8 mx-2">
          <img src="assets/images/skills/mysql.svg" class="w-8 h-8 mx-2">
        </div>
      </div>
    </div>
  </div>
</div>
