<div class="w-full flex flex-wrap h-auto" style="background-image: url('assets/images/bg3.svg'); background-repeat: no-repeat; background-size: cover;">
    <div class="flex flex-col justify-center md:w-1/2 lg:w-1/2">
        <div class="px-16">
            <h2 class="text-4xl text-black py-2 mt-10 font-kumbh">Donasi</h2>
            <div class="flex flex-col items-center mt-10 rounded shadow-lg px-4 py-3 bg-white mb-20">
                <p class="text-center font-semibold mt-2">Metode yang didukung</p>
                <div class="flex flex-wrap justify-center">
                    <img src="assets/images/payment/gopay.svg" alt="" class="w-20 m-6">
                    <img src="assets/images/payment/dana.svg" alt="" class="w-20 m-6">
                    <img src="assets/images/payment/ovo.svg" alt="" class="w-20 m-6">
                </div>
                <p class="text-center text-2xl tracking-widest py-4 mb-2">082321158479</p>
                <button class="px-3 py-2 bg-white border border-blue-500 text-blue-500 mb-8 rounded">
                    <i class="far fa-clipboard"></i> Copy
                </button>
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center md:w-1/2 lg:w-1/2">
        <img src="assets/images/donate.svg" alt="" class="w-full md:w-5/6 lg:w-5/6 mt-2">
    </div>
</div>
<div class="flex flex-col items-center">
    <h2 class="text-4xl">Donasi Anda Sangat penting untuk Kami</h2>
</div>