<div class="flex justify-center items-center flex-col bg-gray-100 px-2">
  <h1 class="text-center font-bold text-3xl mt-10 font-kumbh">Sebagai Sarana Pengingat Ibadah</h1>
  <p class="px-2 md:px-0 lg:px-0 text-center text-gray-500 text-lg w-2/3">WaktuShalat adalah Aplikasi yang berfungsi
    sebagai sarana<br>
    pengingat untuk menjalankan ibadah.
  </p>
  <div class="flex text-center">
    <button class="mt-10 mr-3 bg-blue-500 hover:bg-blue-500 text-white py-2 px-3 rounded shadow">
      Get early access
    </button>
    <a href="https://github.com/Arpha01/WaktuShalat" class="mt-10 bg-transparent border border-blue-500 hover:bg-blue-500
        text-blue-500 py-2 px-3 hover:text-white rounded shadow">
      <i class="fab fa-github"></i>
      Available on GitHub
    </a>
  </div>
  <img src="assets/images/waktushalat.png" class="mt-6 md:mt-2 lg:mt-2" alt="">
</div>
<div class="flex flex-wrap px-20 py-32 md:px-56 lg:px-64">
  <div class="md:w-1/2 lg:w-1/2">
    <img src="assets/images/speaker.svg" alt="" class="lg:float-left md:float-left lg:mr-20 md:mr-20 w-56 mr-auto mb-5">
  </div>
  <div class="md:w-1/2 lg:w-1/2">
    <p class="text-blue-500 tracking-widest">CUSTOM ADZAN SOUND</p>
    <p class="text-4xl font-bold">Dilengkapi dengan fitur custom suara adzan</p>
    <p class="text-gray-600">
      Anda dapat dengan mudah mengganti suara adzan, hanya tinggal
      memilih dari list yang tersedia.
    </p>
    <button class="bg-gray-300 py-2 px-3 rounded-full mt-2">Read more <i class="fas fa-arrow-right ml-2"></i></button>
  </div>
</div>
<div class="flex flex-wrap justify-center text-center md:text-left lg:text-left bg-gray-100 py-24">
  <div class="md:relative lg:relative bg-red-600 text-white rounded-lg w-9/12 px-5 shadow-xl border border-1 items-center">
    <div class="flex justify-center md:justify-start lg:justify-start py-2">
        <img src="assets/images/shalat.png" alt="" class="md:absolute lg:absolute z-50 object-cover overlaps rounded-full w-40 h-40 md:w-24 md:h-24 lg:w-24 
        lg:h-24">
    </div>
    <div class="px-4 md:px-6 lg:px-6">
        <h1 class="text-2xl font-bold mt-10 md:mt-16 lg:mt-16">Shalat Tepat Waktu adalah Amalan Shalih</h1>
        <h1 class="text-2xl font-bold">yang Paling Utama</h1>
        <button class="bg-transparent border border-white py-3 px-4 rounded shadow-sm
            md:mr-10 lg:mr-10 md:float-right md:mt-0 lg:mt-0 mt-8
            lg:float-right text-lg hover:text-black hover:bg-white">
            <i class="fab fa-windows mr-1"></i>
            <span>Download</span>
        </button>
        <p class="mt-10">
           Dari Ibnu Mas’ud radhiyallahu ‘anhu, ia berkata, “Aku bertanya kepada<br>
            Rasulullah shallallahu ‘alaihi wa sallam, “Amal apakah yang<br>
            paling utama?” Beliau menjawab, “Shalat pada waktunya.”
        </p>
        <p class="italic text-sm mt-5 py-5">(HR. Bukhari, no. 7534 dan Muslim, no. 85)</p>
    </div>
  </div>
</div>
<div class="flex flex-wrap px-20 py-32 md:px-48 lg:px-56 justify-center">
  <div class="md:w-1/2 lg:w-1/2">
    <p class="text-blue-500 tracking-widest">BERBAGAI WILAYAH</p>
    <p class="text-4xl font-bold">Mendukung Lebih Dari 500 Wilayah Diseluruh Indonesia</p>
    <p class="text-gray-600 font-sans">
      WaktuShalat mendukung 511 daerah di Indonesia dari
      Sabang sampai Marauke
    </p>
    <button class="bg-gray-300 py-2 px-3 rounded-full mt-2 text-sm">Read more 
      <i class="fas fa-arrow-right ml-2"></i>
    </button>
  </div>
  <div class="md:w-1/2 lg:w-1/2">
    <img src="assets/images/mosque.jpg" alt="" class="lg:float-right rounded-full md:float-right lg:ml-20 md:ml-20 w-56 h-56 mr-auto mb-5
    mt-12 md:mt-0 lg:mt-0">
  </div>
</div>
<div class="flex flex-wrap px-20 py-32 md:px-56 lg:px-64 justify-center bg-gray-100">
  <div class="md:w-1/2 lg:w-1/2">
    <img src="assets/images/notification.svg" alt="" class="lg:float-left md:float-left lg:mr-20 md:mr-20 w-56 mr-auto mb-5">
  </div>
  <div class="md:w-1/2 lg:w-1/2">   
    <p class="text-blue-500 tracking-widest">NOTIFIKASI</p>
    <p class="text-4xl font-bold">Fitur Notifikasi</p>
    <p class="text-gray-600 font-sans">
      WaktuShalat akan menampilkan notifikasi pada sistem ketika Waktu
      Shalat sudah masuk, semua dapat diatur didalam setelan
    </p>
    <button class="bg-red-600 py-2 px-3 rounded-full mt-2 shadow-md text-white text-sm">
      Lihat cara atur <i class="fas fa-arrow-right ml-2"></i>
    </button>
  </div>
</div>
<div class="w-full h-auto bg-white pb-12">
  <p class="text-2xl font-heading font-bold mt-12 text-center font-sans">WaktuShalat for Your Devices</p>
  <div class="flex flex-wrap justify-center bg-white">
    <div class="card ml-3 mt-10 max-w-sm w-64 rounded-md shadow-md border border-1" #windows>
      <div class="px-6 py-4">
        <div class="flex justify-center">
          <img src="assets/images/windows.svg" alt="" class="mr-2 mb-1 w-6 float-left">
          <p class="text-xl">Windows</p>
        </div>
        <button class="w-full bg-blue-500 hover:bg-blue-700 border-1 text-white font-bold py-2 px-4 rounded-full shadow mt-3 opacity-50 cursor-not-allowed">
          Coming soon
        </button>
        <p class="text-gray-500 text-sm text-center mt-1">
          Windows 8.1/10 x86 or x64
        </p>
      </div>
    </div>
    <div class="card ml-3 mt-10 max-w-sm w-64 rounded-md shadow-md border border-1" #android>
      <div class="px-6 py-4">
        <div class="flex justify-center">
          <img src="assets/images/android.svg" alt="" class="mr-2 mb-1 w-6 float-left">
          <p class="text-xl">Android Mobile</p>
        </div>
        <button
          class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full shadow mt-3 opacity-50 cursor-not-allowed">
          Coming soon
        </button>
        <p class="text-gray-500 text-sm text-center mt-1">
          Android 7.0 Nougat or higher
        </p>
      </div>
    </div>
    <div class="card ml-3 mt-10 max-w-sm w-64 rounded-md shadow-md border border-1" #pwa>
      <div class="px-6 py-4">
        <div class="flex justify-center">
          <img src="assets/images/globe.svg" alt="" class="mr-2 mb-1 w-6 float-left">
          <p class="text-xl">Web Base</p>
        </div>
        <button
          class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full shadow mt-3 opacity-50 cursor-not-allowed">
          Planned
        </button>
        <p class="text-gray-500 text-sm text-center mt-1">
          Progressive web apps
        </p>
      </div>
    </div>
  </div>
</div>  